    body {
        font-family: Arial, sans-serif;
        background-color: black;
    }
    
    h1,
    h2 {
        text-align: center;
    }
    
    h2 {
        color: rebeccapurple;
    }
    
    table {
        margin: 0 auto;
        border: 2px solid darkorchid;
    }
    
    thead {
        background-color: plum;
    }
    
    td {
        border-top: 1px solid darkorchid;
        color: black;
        background-color: grey;
    }
    
    .code {
        font-family: monospace;
        background-color: beige;
    }